.text[data-v-391188ab] {
    color: var(--text_secondary);
    text-align: center;
    font-size: .32rem;
    min-height: .48rem
}

.text.rejectText[data-v-391188ab] {
    padding: 1.33333rem .48rem
}

.text.textLeft[data-v-391188ab] {
    text-align: center
}

.text[data-v-391188ab] em {
    color: var(--norm_hint_color);
    font-style: normal
}

.delayCont[data-v-391188ab] {
    margin: .53333rem 0 .66667rem;
    width: 100%;
    overflow-x: auto
}

.delayCont ul[data-v-391188ab] {
    display: flex;
    justify-content: center
}

.delayCont ul li[data-v-391188ab] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.46667rem;
    position: relative
}

.delayCont ul li i[data-v-391188ab] {
    width: .85333rem;
    height: .85333rem;
    background: url(/images/icon_count-CZ_GDus5.webp) no-repeat center center;
    background-size: .74667rem auto;
    margin: .13333rem 0
}

.delayCont ul li span[data-v-391188ab] {
    font-size: .29333rem;
    color: var(--text_secondary);
    text-align: center;
    padding: 0 .16rem
}

.delayCont ul li .act[data-v-391188ab] {
    color: var(--norm_hint_color)
}

.delayCont ul li.bouns[data-v-391188ab] {
    margin-left: .53333rem
}

.delayCont ul li.bouns i[data-v-391188ab] {
    background: url(/images/icon_comp-DIZj_u-a.webp) no-repeat center center;
    background-size: cover
}

.delayCont ul li.bouns[data-v-391188ab]:after {
    content: "";
    position: absolute;
    width: .53333rem;
    height: .05333rem;
    background-color: #692d37;
    top: 50%;
    margin-top: -.02667rem;
    left: -.53333rem
}

.delayCont ul li.active i[data-v-391188ab] {
    background: url(/images/icon_down-Be4npXJM.webp) no-repeat center center;
    background-size: .74667rem auto
}

.delayCont ul li.active.bouns[data-v-391188ab] {
    margin-left: .53333rem
}

.delayCont ul li.active.bouns i[data-v-391188ab] {
    background: url(/images/icon_comp_a-BZ9bZrim.webp) no-repeat center center;
    background-size: cover
}

.delayCont ul li.active.bouns[data-v-391188ab]:after {
    content: "";
    background-color: #da4966
}

.popunCont[data-v-391188ab] {
    margin-top: .32rem;
    border-radius: .16rem;
    background: var(--bg_color_L1);
    padding: .16rem
}

.popunCont .text[data-v-391188ab] {
    text-align: left
}

.remark-btn[data-v-391188ab] {
    width: 100%;
    aspect-ratio: 566/64;
    -webkit-aspect-ratio: 566/64;
    height: 1.17333rem;
    background: var(--main_gradient_color);
    margin-top: .32rem;
    color: var(--text_btn_main);
    text-align: center;
    font-size: .37333rem;
    font-weight: 400;
    line-height: 1.17333rem;
    border-radius: .66667rem
}

.history-wrapper[data-v-b9c1571b] {
    padding: 0 .4rem
}

.header[data-v-b9c1571b] {
    display: flex;
    justify-content: space-between;
    font-size: .34667rem;
    color: var(--text_tertiary);
    position: sticky;
    top: 1.44rem;
    background: var(--bg_color_L1);
    border-bottom: .01333rem solid var(--Dividing_line_color);
    z-index: 9
}

.header>div[data-v-b9c1571b] {
    position: relative;
    padding: .26667rem 0;
    text-align: center;
    flex: 1
}

.header>div.active[data-v-b9c1571b] {
    color: var(--main_color)
}

.header>div.active[data-v-b9c1571b]:after {
    position: absolute;
    bottom: .13333rem;
    content: "";
    display: block;
    width: .66667rem;
    height: .04rem;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--main_color)
}

.info[data-v-b9c1571b] {
    display: flex;
    justify-content: space-between;
    font-size: .34667rem;
    color: var(--text_primary);
    padding: .26667rem 0 .13333rem;
    position: sticky;
    top: 2.50667rem;
    width: 100%;
    background: var(--bg_color_L1);
    z-index: 9
}

.list[data-v-b9c1571b] {
    display: flex;
    flex-direction: column;
    gap: .21333rem
}

.item[data-v-b9c1571b] {
    border-radius: .21333rem;
    background: var(--bg_color_L2);
    padding: .32rem;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    color: var(--text_secondary);
    font-size: .32rem;
    gap: .21333rem
}

.item .img[data-v-b9c1571b] {
    width: .8rem;
    height: .8rem;
    margin-top: .36rem
}

.item .time[data-v-b9c1571b] {
    color: var(--main_color)
}

.item .r1[data-v-b9c1571b] {
    color: var(--norm_hint_color)
}

.item .r3[data-v-b9c1571b] {
    color: var(--text_primary)
}

.item .flex[data-v-b9c1571b] {
    height: .45333rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.item .flex.gap-2[data-v-b9c1571b] {
    gap: .10667rem
}

.item .remark-text[data-v-b9c1571b] {
    background: var(--bg_color_L1);
    padding: .16rem .26667rem;
    border-radius: .16rem;
    color: var(--text_tertiary);
    font-size: .32rem;
    margin-top: .16rem;
    line-height: .45333rem;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;
    height: fit-content;
    width: 100%
}

.item .remark-btn[data-v-b9c1571b] {
    width: 100%;
    height: 1.17333rem;
    line-height: 1.17333rem;
    margin-top: .26667rem;
    color: var(--text_btn_main);
    text-align: center;
    font-size: .37333rem;
    font-weight: 600;
    border-radius: .66667rem;
    background: var(--main_gradient_color)
}

.item .copyIcon[data-v-b9c1571b] {
    width: .32rem;
    height: .32rem
}

.dialogCont[data-v-b9c1571b] {
    padding: .26667rem
}

.confirmBtn[data-v-b9c1571b] {
    width: 3.41333rem;
    height: 1.17333rem;
    line-height: 1.17333rem;
    margin: .26667rem auto 0;
    background: var(--main_gradient_color);
    border-radius: .66667rem;
    color: var(--text_btn_main);
    text-align: center;
    font-size: .42667rem;
    font-weight: 400
}

.confirmBtn.btnDisabled[data-v-b9c1571b] {
    opacity: .5
}

.item-content[data-v-b9c1571b] {
    width: calc(100% - 1.01333rem)
}