.faqModules__main .faqModules__list[data-v-64e67f76] {
    background: var(--bg_color_L2);
    border-radius: .21333rem;
    padding: 0 .42667rem;
    margin: .4rem
}

.faqModules__main .faqModules__list li[data-v-64e67f76] {
    display: flex;
    align-items: center;
    gap: .16rem;
    padding: .42667rem 0;
    border-bottom: .01333rem solid var(--Dividing_line_color);
    cursor: pointer
}

.faqModules__main .faqModules__list li[data-v-64e67f76]:last-child {
    border: none
}

.faqModules__main .faqModules__list .faqModules__num[data-v-64e67f76] {
    flex-shrink: 0;
    width: .42667rem;
    height: .42667rem;
    border-radius: 50%;
    background: var(--main_color);
    color: var(--text_white);
    font-size: .32rem;
    line-height: .42667rem;
    text-align: center
}

.faqModules__main .faqModules__list .faqModules__title[data-v-64e67f76] {
    flex: 1;
    color: var(--text_primary);
    font-size: .37333rem;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.faqModules__main .contTitle[data-v-64e67f76] {
    border-bottom: .01333rem solid #DADADA;
    color: #333;
    font-size: .48rem;
    font-weight: 500;
    text-align: center;
    height: 1.2rem;
    line-height: 1.2rem
}

.faqModules__main[data-v-64e67f76] .van-tabs__wrap {
    border-radius: .26667rem;
    padding: 0 .13333rem
}

.faqModules__main[data-v-64e67f76] .van-tabs__line {
    display: none
}

.faqModules__main[data-v-64e67f76] .van-tab {
    line-height: 1.01333rem;
    color: var(--text_primary);
    background: none;
    flex: none;
    padding: 0 .26667rem
}

.faqModules__main[data-v-64e67f76] .van-tabs__nav--line {
    overflow-x: auto;
    background: none
}

.faqModules__main[data-v-64e67f76] .van-popup__close-icon--top-left {
    font-size: .8rem;
    top: -1rem;
    left: 50%;
    margin-left: -.4rem;
    color: var(--text_primary)
}

.faqModules__main[data-v-64e67f76] .van-popup {
    overflow-y: auto
}

.faqModules__main[data-v-64e67f76] .van-tabs__content {
    min-height: 12.8rem
}

.faqModules__main[data-v-64e67f76] .van-tab__text {
    color: var(--text_primary);
    text-align: center;
    font-size: .37333rem;
    font-weight: 400
}

.faqModules__main[data-v-64e67f76] .van-tab--active:after {
    content: "";
    display: block;
    width: .58667rem;
    height: .04rem;
    background-color: var(--main_color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%)
}

.faqModules__main[data-v-64e67f76] .van-tab--active .van-tab__text {
    color: var(--main_color)
}

.faqModules[data-v-64e67f76] {
    padding-bottom: 1.6rem
}

.my_r-foot[data-v-64e67f76] {
    height: 1.73333rem;
    padding: .4rem 2.37333rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.my_r-foot-page[data-v-64e67f76] {
    font-size: .32rem;
    color: var(--text_tertiary)
}

.my_r-foot-previous[data-v-64e67f76],
.my_r-foot-next[data-v-64e67f76] {
    width: .93333rem;
    height: .93333rem;
    border-radius: .13333rem;
    background: var(--main_color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text_btn_main)
}

.my_r-foot-previous.disabled[data-v-64e67f76],
.my_r-foot-next.disabled[data-v-64e67f76] {
    background: var(--button_dis) !important;
    pointer-events: none
}

.my_r-foot-previous.disabled .my_r-icon[data-v-64e67f76],
.my_r-foot-next.disabled .my_r-icon[data-v-64e67f76] {
    color: var(--text_disabled)
}

.my_r-foot-previous .my_r-icon[data-v-64e67f76],
.my_r-foot-next .my_r-icon[data-v-64e67f76] {
    color: var(--text_btn_main)
}

.faq-dialog .popMain[data-v-64e67f76] {
    color: var(--text_primary);
    font-size: .34667rem;
    font-weight: 400;
    max-height: 10.66667rem;
    line-height: normal;
    padding: 0 .16rem;
    overflow: auto
}

.faq-dialog .popMain .mainTitle[data-v-64e67f76] {
    color: var(--text_primary);
    font-size: .34667rem;
    font-weight: 500;
    margin-bottom: .26667rem;
    max-width: 100%;
    word-break: normal;
    overflow-wrap: break-word
}

.faq-dialog .popMain[data-v-64e67f76] p {
    margin: 1em 0
}

.faq-dialog .popMain[data-v-64e67f76] img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto
}