:root,
:host {
    --van-progress-height: 4px;
    --van-progress-color: var(--van-primary-color);
    --van-progress-inactive-color: var(--van-gray-5);
    --van-progress-background: var(--van-gray-3);
    --van-progress-pivot-padding: 0 5px;
    --van-progress-pivot-text-color: var(--van-white);
    --van-progress-pivot-font-size: var(--van-font-size-xs);
    --van-progress-pivot-line-height: 1.6;
    --van-progress-pivot-background: var(--van-primary-color)
}

.van-progress {
    position: relative;
    height: var(--van-progress-height);
    background: var(--van-progress-background);
    border-radius: var(--van-progress-height)
}

.van-progress__portion {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--van-progress-color);
    border-radius: inherit;
    transform-origin: 0;
    transition: all var(--van-duration-base) var(--van-ease-out)
}

.van-progress__portion--inactive {
    background: var(--van-progress-inactive-color)
}

.van-progress__pivot {
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    min-width: 3.6em;
    padding: var(--van-progress-pivot-padding);
    color: var(--van-progress-pivot-text-color);
    font-size: var(--van-progress-pivot-font-size);
    line-height: var(--van-progress-pivot-line-height);
    text-align: center;
    word-break: keep-all;
    background: var(--van-progress-pivot-background);
    border-radius: 1em;
    transition: all var(--van-duration-base) var(--van-ease-out)
}

.van-progress__pivot--inactive {
    background: var(--van-progress-inactive-color)
}

.service-name[data-v-d72fdc83] {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: .42667rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 0 .26667rem;
    justify-content: center;
    transform: translate(-50%) translateY(-50%);
    color: var(--text_primary)
}

.cursor-icon .rightArrow[data-v-d72fdc83] {
    width: .53333rem;
    height: .53333rem
}

.selfService__main[data-v-d72fdc83] {
    transform: inherit;
    position: relative;
    padding-bottom: 2rem;
    background: var(--bg_color_L1);
    min-height: calc(100vh - 1.44rem)
}

.selfService__main .form-item .eyePwd[data-v-d72fdc83] {
    width: .53333rem;
    height: .53333rem;
    display: block;
    font-size: .53333rem
}

.selfService__main .form-item[data-v-d72fdc83] .van-icon-arrow {
    position: absolute;
    right: .64rem;
    top: 1.53333rem
}

.selfService__main .form-item[data-v-d72fdc83] .van-cell {
    gap: .21333rem;
    background: transparent
}

.selfService__main .form-item[data-v-d72fdc83] .van-cell .van-field__label {
    color: var(--text_primary);
    font-size: .37333rem;
    font-weight: 400
}

.selfService__main .form-item[data-v-d72fdc83] .van-cell:after {
    border: none
}

.selfService__main .form-item[data-v-d72fdc83] .van-cell .van-field__error-message {
    background: url(data:image/webp;base64,UklGRmQCAABXRUJQVlA4WAoAAAAQAAAAIwAAIwAAQUxQSDIBAAABkFDbdtBKV8Jz8COhDoqTxEFw0DqgDpCABCREwpPwJJw/M+UBoyAiJkDp0lcPiLH1oovbTnrUKybntNcz9gGIvT9Msmff+HexVBlAvEzJ8nLAS6I4sJhOlhXwcmAOdF04A8O+fYCqwxZeD9SA5UsDuo4d4kgzMP3jsCoJkNACLqmBl+ssoEoDXrpOL9hVgHKHBfx02HSHdugb9Hs6rAOe9zzAA+wegwB0j/j6HwTYPQbh8MgFeG6CsULPNY+a67B12HPnN+gFwu4oQNEOr1QLr6k3DKlBWMYhMsWhSnJYMgGeWcElaQLmRPOoiRmo/2gB6lG+AYu+2gDmK2bA7ZuKA2s5Yx/Ai46LA/4uGXsHMIqytvDv1ieT7NH3AFhMJ5tz2p+6sI3cXnVx6dsICF/7j9JWUDggDAEAAJAHAJ0BKiQAJAA+TR6LRCKhoRjkACgExLUAWyPQZ0fCHeOFjeYD9OfQz1AD0AP1V6yDycgQjcfmrM4GBllEpyaJEmw5AAD+9oDn/IjN5+ExHwZ9Cv0iFR67lP76Bf8y8c+jffgd38MqWEt2lUA/n6yTgde8rVX/JIUecUeuUvsPSm4CQ17abEJHvvzgGfU7JSw++7OTJ8EBGk0gkqV+Vj9mR8Ynix59Z3zjLySdWzg9TvVZHlR5VQcp/Eo8DSYhtAd5OFhdOFYn/BVh/52RKY/re+yLYH8O0cmKjrov7GqKs1WfWMf1Pb+1u+/chgfoMXb+8pNdsqUfj2GQNE37CF3UwKtz/4KWO3gAAAA=) no-repeat left center;
    background-size: .48rem .48rem;
    padding-left: .58667rem;
    color: #da4966;
    margin-top: .13333rem;
    font-size: .32rem;
    font-weight: 400
}

.selfService__main .form-item[data-v-d72fdc83] .van-field__body {
    display: flex;
    border-radius: .21333rem;
    background: var(--bg_color_L2);
    padding: 0 .32rem
}

.selfService__main .form-item[data-v-d72fdc83] .van-field__body input {
    height: 1.30667rem;
    line-height: 1.30667rem;
    color: #fff;
    font-size: .37333rem
}

.selfService__main .form-item[data-v-d72fdc83] .van-field__body input:-internal-autofill-selected {
    background-color: transparent !important;
    color: #cebfc2 !important
}

.selfService__main .form-item[data-v-d72fdc83] .van-field__body input:-webkit-autofill:before,
.selfService__main .form-item[data-v-d72fdc83] .van-field__body input:-webkit-autofill:after {
    background-color: transparent !important;
    color: #333 !important
}

.selfService__main .form-item[data-v-d72fdc83] .van-field__body .van-field__control {
    color: var(--text_primary)
}

.selfService__main .form-item[data-v-d72fdc83] .van-field__body .van-field__control ::placeholder {
    color: var(--text_placeholder)
}

.selfService__main .form-item[data-v-d72fdc83] .van-field__body .van-field__button {
    padding: 0
}

.selfService__main .form-item .form-dropdown-menu[data-v-d72fdc83] {
    width: 2.66667rem
}

.selfService__main .form-item .upload_img[data-v-d72fdc83] .van-field__body {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0
}

.selfService__main .form-item .upload_img[data-v-d72fdc83] .van-field__body .van-uploader__preview-cover {
    width: 2.4rem;
    top: auto;
    bottom: -.53333rem
}

.selfService__main .form-item .upload_img[data-v-d72fdc83] .van-field__body .van-uploader__preview-image {
    overflow: inherit
}

.selfService__main .form-item .upload_img[data-v-d72fdc83] .van-field__body .van-uploader__mask {
    display: none
}

.selfService__main .form-item .upload_img[data-v-d72fdc83] .van-field__body .van-progress {
    background: var(--main_color)
}

.selfService__main .form-item .uploader__box[data-v-d72fdc83] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text_primary);
    gap: .10667rem;
    font-size: .37333rem;
    width: 2.4rem
}

.selfService__main .form-item .uploader__box .uploader__img[data-v-d72fdc83] {
    width: .64rem;
    height: .56rem
}

.selfService__main .form-item .capt-field[data-v-d72fdc83] .van-field__body {
    padding: 0;
    background: none;
    gap: .32rem
}

.selfService__main .form-item .capt-field[data-v-d72fdc83] .van-field__body input {
    height: 1.30667rem;
    line-height: 1.30667rem;
    background: var(--bg_color_L2);
    padding: 0 .32rem;
    border: .21333rem
}

.selfService__main .form-item .capt-field[data-v-d72fdc83] .van-field__button {
    width: 3.06667rem;
    height: 1.30667rem;
    font-size: 0;
    line-height: 1.30667rem;
    color: #cebfc2;
    background: #360d13;
    border-radius: .21333rem
}

.selfService__main .form-item .capt-field[data-v-d72fdc83] .van-field__button button {
    width: 100%;
    height: 1.30667rem;
    font-size: .37333rem;
    line-height: 1;
    color: #cebfc2;
    border: none;
    background: none
}

.selfService__main .form-item .capt-field .captcha__box .captcha[data-v-d72fdc83] {
    display: flex;
    flex-direction: column
}

.selfService__main .form-item .capt-field .captcha__box .captcha img[data-v-d72fdc83] {
    width: 100%;
    height: 1.30667rem;
    border-radius: .21333rem
}

.selfService__main .form-item .capt-field .captcha__box span[data-v-d72fdc83] {
    color: var(--text_primary);
    text-align: right;
    font-size: .29333rem
}

.selfService__main .form-item .sms-field[data-v-d72fdc83] .van-button {
    width: 3.41333rem;
    height: .8rem;
    border-radius: .4rem;
    background: var(--main_gradient_color);
    border: none
}

.selfService__main .form-item .sms-field[data-v-d72fdc83] .van-button .van-button__text {
    color: var(--text_btn_main);
    text-align: center;
    font-size: .37333rem
}

.outLink__main[data-v-d72fdc83] {
    padding: .42667rem .4rem
}

.outLink__main ul[data-v-d72fdc83] {
    display: flex;
    padding: 0 .32rem .21333rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: .21333rem;
    background: var(--bg_color_L2)
}

.outLink__main ul li[data-v-d72fdc83] {
    padding: .21333rem 0 0;
    border-bottom: .01333rem solid var(--Dividing_line_color);
    display: flex;
    align-items: center;
    width: 100%
}

.outLink__main ul li[data-v-d72fdc83]:last-child {
    border-bottom: none
}

.outLink__main ul li a[data-v-d72fdc83] {
    color: var(--text_primary);
    display: flex;
    flex: 1;
    font-size: .37333rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: .98667rem;
    line-height: .98667rem;
    white-space: nowrap
}

.selectPick[data-v-d72fdc83] {
    border-radius: .21333rem .21333rem 0 0;
    background: var(--bg_color_L2);
    padding: .26667rem
}

.selectPick .searchInput[data-v-d72fdc83] {
    border-radius: .21333rem;
    background: var(--secondary_color2)
}

.selectPick .searchInput[data-v-d72fdc83] .van-search__content {
    color: var(--text_primary);
    background: transparent
}

.selectPick[data-v-d72fdc83] .van-picker-column .van-picker-column__item {
    color: var(--text_primary);
    text-align: center;
    font-size: .4rem;
    opacity: .3
}

.selectPick[data-v-d72fdc83] .van-picker-column .van-picker-column__item.van-picker-column__item--selected {
    opacity: 1
}

.selectPick .van-picker[data-v-d72fdc83] {
    border-radius: .21333rem .21333rem 0 0;
    background: var(--bg_color_L2)
}

.selectPick .van-picker[data-v-d72fdc83] .van-picker__confirm {
    color: var(--main_color)
}

.selectPick[data-v-d72fdc83] .van-picker__mask {
    background: #00000080;
    display: none
}